
<div class="index-image-banner">
    <img src="https://images.unsplash.com/photo-1560719887-fe3105fa1e55?q=80&w=1167&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="house-banner-image" height="250px" width="100%">
</div>

<div class="bookmark-index-bgcolour">
  <div class="container">


    <h1 class="mt-3 mt-1">Bookmarked Managers</h1>

    <% @bookmarks.each do |manager| %>
      <div class="bookmark-cards">

        <div class="bookmark-cards-top">
          <h3 class="index-manager-name"><%= link_to "#{manager.name}", manager_path(manager) %></h3>
          <%= button_to 'Remove', manager_bookmarks_path(manager), method: :delete, class: "manager-index-button mb-0" %>
        </div>

        <div class="bookmark-cards-rating">
        <h2 class="review-pro"><%= ratingvalue = manager.reviews.map { |review| review.rating }
                  if ratingvalue.empty?
                    "No rating yet"
                  else
                "★ #{(ratingvalue.sum / ratingvalue.count).round(1)}"
                end
                %></h2>
        </div>

      <div class="bookmarks-cards-address">
        <h4><%= manager.address %></h4>
      </div>


      </div>
    <% end %>

  </div>
</div>
