.manager-avatar {
  border-radius: 50%;
  size: 15px;
}

.manager-show-name {
  font-size: x-large;
}

.managers-properties-title {
  font-size: large;
}

.manager-show-address {
  font-size: large;
}

////////////////////////
.create-manager-link {
  background-color: #39a575;
}
