//image banner

.house-banner-image {
  object-fit: cover;
}

.property-index-bg {
  background-color: #FCFBF3;
}

.index-property-name {
  font-size: 20px;
  align-content: center;
}


.index-property-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.index-property-card-top-top {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  gap: 20px;
}

// .index-property-card-review{
//   background-color: #FCFBF3;
//   padding: 5px;
//   border-radius: 10px;
// }
