//property top

.property-page-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

}



.main-property-photo {
  border-radius: 15px;
  padding: 5px;
}

.secondary-property-photo {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

.similar-properties-card-right{
  right: 0;
}

// proeprty photo
.property-photos-card{
  width: 70%;
}

//property info top

.property-info-top{
  padding: 3px;
  border: solid 1px #eeeff0;
  box-shadow: 0 0 2px #d1d3d4;
  border-radius: 20px;
}

.property-show-title {
  font-size: xx-large;
  text-align: center;
  margin-top: 20px;
}

.property-info-top-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.property-show-title-property_type{
  padding: 20px;
}

.property-show-title-beds {
  padding: 20px;
}

.property-show-title-bathroom{
  padding: 20px;
}

.property-show-title-reviews {
  padding: 20px;
}
// review-similar

.property-review-similar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 7px;
}

.info-name {
  margin-bottom: 0rem;
}

.see-more-button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: $light-purple;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px grey;
  padding: 15px;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.manager-address-card {
  margin-top: 15px;
}


//building company card

.building-company-card {
  border: solid 1px #eeeff0;
  box-shadow: 0 0 2px #d1d3d4;
  background-color: $light-gray;
}

.building-comany-heading{

  padding: 3px;
}

.building-comany-heading h3 {
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.company-property-photo-small {
  border-radius: 15px;
}
//

.similar-properties {
  margin-top: 15px;

}
//reviews

button {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: right;
}


//property map

.map-border {
  background-color: $light-gray;
}

.map-property-name {
  padding-left: 25px;
  padding-top: 50px;
}

.map-border {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 85px;
  margin-right: 85px;
  border-radius: 5px;
}


//extras

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
