.main-property-photo {
  border-radius: 5px;
}

.secondary-property-photo {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

.info-name {
  margin-bottom: 0rem;
}

.map-border {
  background-color: $light-gray;
}

.map-property-name {
  padding-left: 25px;
  padding-top: 50px;
}

.map-border {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 85px;
  margin-right: 85px;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: right;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
