<h1>Index Managers</h1>
<div class="container">
<% @managers.each do |manager| %>
<p><%= manager.name %></p>
<p><%= manager.address %></p>
<p><%= link_to "Select", manager_path(manager) %></p>
<% end %>

</div>
