.select-button {
  padding: 5px;
  border-radius: 10px;
  background-color: #E5E1FF;
  box-shadow: 2px 2px 4px rgb(201, 201, 201);
  text-decoration: none;
  height: 50px;
  width: 100px;
}

.btn-search {
  background-color: #E5E1FF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
