.property-photos-card {
  background-color: $light-gray;
  border-radius: 10px;
}

.building-company-card {
  background-color: $light-beige;
  border-radius: 10px;
}



.similar-properties-card {
  box-shadow: 5px 2px 2px grey;
  border-radius: 5px;
}

.map-card {
  background-color: $light-beige;
  border-radius: 10px;
}
// .building-company-card {
//   padding-right: ($spacer * .5) !important;
//   padding-left: 2;
// }
