//property show

.property-photos-card {
  background-color: $light-gray;
  border-radius: 10px;
  width: 100%;
}

.building-company-card {
  background-color: $light-gray;
  border-radius: 10px;
}


.similar-properties-card {
  box-shadow: 2px 2px 2px $light-gray;
  border-radius: 10px;
}


//manager show

.manager-show-info {
  background-color: white;
  border-radius: 10px;
  border: 1px;
  box-shadow: 5px 5px 5px $medium-gray;
  border-radius: 10px;
}

.manager-show-other-properties-card {
  box-shadow: 2px 2px 2px $light-gray;
  border-radius: 10px;
}

.manager-show-reviews-card {
  background-color: $light-beige;
  border-radius: 10px;
}



//property index

.index-property-card {
  background-color: white;
  border-radius: 10px;
  border: 1px;
  box-shadow: 5px 5px 5px $medium-gray;
  padding: 30px;
  margin-bottom: 20px;
}


//universal

.map-card {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #eeeff0;
  box-shadow: 0 0 2px #d1d3d4;
}
