//property show

.property-photos-card {
  background-color: $light-gray;
  border-radius: 10px;
}

.building-company-card {
  background-color: $light-beige;
  border-radius: 10px;
}



.similar-properties-card {
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
}


//manager show

.manager-show-info {
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
}

.manager-show-other-properties-card {
  box-shadow: 2px 2px 2px grey;
  border-radius: 5px;
}

.manager-show-reviews-card {
  background-color: $light-beige;
  border-radius: 10px;
}


//universal

.map-card {
  background-color: $light-beige;
  border-radius: 10px;
}
