// .home-page-search {
//   width: 100%;
//   height: 500px;
//   background-repeat: no-repeat;
//   object-fit: cover;
//   background-image: url("house1.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-clip: content-box;
// }

.home-page {
  position: relative;
  min-height: 100vh;
}

.home-page-search {
 display: flex;
 justify-content: center;
 margin: auto;
 display: flex;
 background-color: white;
}


.search-info-home {
  background-color: #E5E1FF;
  width: 100%;
  height: 500px;
}

.search-info-text{
  padding-top: 50px;
}

.search-info-text h1 {
  margin-left: 80px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.home-page-bottom-image {
  justify-content: center;
  background: white;
}

.home-page-bottom-image img {
  justify-content: center;
  margin: auto;
  display: flex;
}




/// lower image

.lower-image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page-bottom-image-text {
  margin-right: 30px;
}

.home-page-bottom-image-text h3{
  margin-bottom: 40px;
  font-size: 35px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

///
///
.home-text-end {
  height: 650px;
  width: 100%;
  background-color: #E5E1FF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.home-text-end-text{
  margin-left: 100px;
}

.home-text-end-text h3 {
  margin-bottom: 50px;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

.image-bottom-resize {
  box-shadow: 0 0 3px #8f8f8f;
  border-radius: 30px;
  margin-right: 100px;
}
.image-bottom-resize img {
  width: 600px;
  border-radius: 30px;
}
