.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 100%;
}

.propview-navbar-title {
  text-align: left;
  font-size: 30px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
}
