.search-page {

    position: relative;
    min-height: 100vh;
}

.search-container {
  justify-content: center;
  margin-top: 50px;
  margin-right: 18%;
  margin-left: 18%;
}

.search-cards {
  margin-top: 30px;
  border: solid 1px #eeeff0;
  box-shadow: 0 0 2px #d1d3d4;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.search-cards-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-cards-top a {
  text-decoration: none;
  color: black;
  margin: auto;
}

.search-cards-top img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  filter: brightness(90%);
}

.search-cards-title {
  display: flex;
  padding: 5px;
}

.search-cards-title h3 {
  margin-left: 15px;
  font-weight: bold;
  align-items: center;
}

.search-cards-title button {
  margin-left: 8px;
  margin-top: 15px;
}


.search-cards-address {
  margin-left: 10px;
  opacity: 0.8;
  top: 0px;
}

.search-cards-review {
  padding: 5px;
  margin-left: 10px;
}

.search-cards-overall-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-bar {
padding: 7px;
border: solid;
border-color: rgb(180, 180, 180);
border-width: thin;
background-color: white;
border-radius: 20px;
}

.inside-bar {
  border-radius: 20px;
  padding: 6px;
  height: 60px;
  margin-bottom: 0;
}

#query{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  // background-image: url("m_glass.png") ;
  // background-repeat: no-repeat;
  // background-position: left center;
  // object-fit: cover;
}


.results-answer {
  margin: 25px;
}

.results-answer p {
  margin-left: 330px;
  font-size: 25px;
}
